/* *************************************************************************************** */
/* ************************************* All Pages *************************************   */
/* *************************************************************************************** */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  background: url("../images/grey_background.jpg");
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #63a8a4;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

/**********************************
                
                                  ******* Media Queries ******

***********************************/



/* Width at 653px and below */
@media screen and (max-width: 653px) {

  h1 {
    text-align: center;
  }

}

/* *************************************************************************************** */
/**************************************  Header ********************************************/
/* *************************************************************************************** */

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: lightgray;
}

/* ?????HAVING BIG ISSUE WITH NOT KNOWING WHY THE HEADER IS 2PX DIFFERENCE WHEN COMPARING
THE ABOUT PAGE WITH THE PORTFOLIO AND CONTACT PAGE?????????!!!!!!!!!!!!!! */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.wrapper {
  overflow: auto;
  clear: both;
  width: 80%;
  margin: auto;
}

#name {
  float: left;
  padding: 20px;
  background-color: #63a8a4;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-size: 25px;
}

.solve-gap-issue {
  padding-bottom: 21px !important;
}

nav {
  float: right;
  padding-top: 30px;
  padding-bottom: 20px;
}

nav a {
  padding-right: 20px;
  padding-left: 20px;
}

.gborder {
  border-right: 1px solid #f0f0f0;
}

/**********************************
                
                                  ******* Media Queries ******

***********************************/


/* Width at 653px and below */
@media screen and (max-width: 653px) {
  header {
    width: 100%;
  }

  .wrapper {
    overflow: auto;
    clear: both;
    width: 100%;
    margin: auto;
  }

  .text-center {
    text-align: center;
  }

  #name {
    float: none;
    padding: 20px;
    background-color: #63a8a4;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", "Georgia", Times, serif;
    font-size: 25px;
  }

  nav {
    float: none;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


/* *************************************************************************************** */
/**************************************  Body: "About" Content *****************************/
/* *************************************************************************************** */

section {
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  flex: 1 0 auto;
  min-height: calc(75vh - 122px);
}

#about {
  padding: 30px 30px 20px 30px;
  margin-top: 30px;
  width: 80%;
  line-height: 200%;
}

#profile {
  /* height: 256px;
    width: 192px; */
  height: 30%;
  width: 20%;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px;
}

/**********************************
                
                                  ******* Media Queries ******

***********************************/

/* Width at 1218px and below */
@media screen and (max-width: 1218px) {
  #profile {
    /* height: 256px;
      width: 192px; */
    height: 40%;
    width: 30%;
  }
}

/* Width at 980px and below */
@media screen and (max-width: 980px) {
  #profile {
    /* height: 256px;
      width: 192px; */
    height: 40%;
    width: 30%;
  }
}

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  #profile {
    /* height: 256px;
      width: 192px; */
    height: 60%;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

/* Width at 653px and below */
@media screen and (max-width: 653px) {
  #about {
    margin-left: 4%;
  }

  #profile {
    /* height: 256px;
      width: 192px; */
    height: 80%;
    width: 70%;
    float: none;
    padding-right: 0px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
  #about {
    margin-left: 0;
    width: 85%;
  }

  #profile {
    /* height: 256px;
      width: 192px; */
    height: 80%;
    width: 70%;
    float: none;
    padding-right: 0px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* *************************************************************************************** */
/************************************* Body: "Contact" Content *****************************/
/* *************************************************************************************** */

#contact {
  padding: 30px 30px 20px 30px;
  margin-top: 30px;
  width: 80%;
}

#contact-name {
}

#email {
  margin-top: 20px;
}

#message {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  font: 0.9em/1.5em "handwriting", "Arial";
  margin: 0;
  width: 100%;
  height: 20px;

  background: none;
}

textarea {
  font: 0.9em/1.5em "handwriting", "Arial";

  padding: 0 10px;
  margin: 0;
  width: 98%;
  height: 300px;

  background: none;
}

button {
  padding: 20px;
  font: bold 1em "Arial";
  border: none;
  background: #63a8a4;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
  background: #2c6342;
  color: #fff;
}

/**********************************
                
                                  ******* Media Queries ******

***********************************/


/* Width at 653px and below */
@media screen and (max-width: 653px) {
  #contact {
    margin-left: 4%;
  }
}

/* Width at 400px and below */
@media screen and (max-width: 400px) {
  #contact {
    margin-left: 0;
    width: 85%;
  }
}



/* *************************************************************************************** */
/**************************************  Body: Portfolio ***********************************/
/* *************************************************************************************** */

#portfolio {
  padding: 30px 30px 20px 30px;
  margin-top: 30px;
  width: 80%;
}

.photo-size {
  height: 222px;
  width: 316px;
}

#content-portfolio p {
  text-align: center;
  background: #4aaaa5;
  color: #fff;
  padding: 20px;
  position: relative;
  top: -90px;
  /* Using Percentage and it works!!! */
  /* bottom: 32%; */
}

#content-portfolio {
  overflow: auto;
  clear: both;
}

.wrap-project {
  float: left;
}

#trivia,
#rutgers {
  margin-left: 30px;
}

div #hangman,
div #rpg_game,
div #trivia,
div #rutgers,
div #rps {
  height: 280px;
}

/**********************************
                
                                  ******* Media Queries ******

***********************************/

/* Width at 1680px and below */
@media screen and (max-width: 1680px) {
  #rps {
    margin-left: 30px;
  }
}

/* Width at 1574px and below */
@media screen and (max-width: 1574px) {
  #portfolio {
    width: 70%;
  }

  #rps {
    margin-left: 0px;
  }
}

/* Width at 1182px and below */
@media screen and (max-width: 1182px) {
  #portfolio {
    width: 90%;
  }
}

/* Width at 980px and below */
@media screen and (max-width: 980px) {
}

/* Width at 919px and below */
@media screen and (max-width: 919px) {
  #trivia,
  #rutgers {
    margin-left: 10px;
  }
}

/* Width at 891px and below */
@media screen and (max-width: 891px) {
  #trivia,
  #rutgers {
    margin-left: 0px;
  }

  #portfolio {
    width: 80%;
  }

  .photo-size {
    height: 222px;
    width: 316px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
  
  .img-center {

    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center
  }
}

/* Width at 653px and below */
@media screen and (max-width: 653px) {

  #portfolio {
    width: 70%;
    margin-left: 10%;
  }

}

/* Width at 320px and below */
@media screen and (max-width: 320px) {

  #portfolio {
    width: 100%;
    margin-left: 0;
  }
}


/* *************************************************************************************** */
/**************************************  Footer ********************************************/
/* *************************************************************************************** */

footer {
  text-align: center;
  flex-shrink: 0;
  background: #666666;
  color: #ffffff;
  border-top: 5px solid #63a8a4;
  padding: 20px;
  height: 20px;
  margin-top: 150px;
}












/* *****************************
                
                                  ******* Media Queries ******

********************************* */

/* Width at 980px and below */
@media screen and (max-width: 980px) {
}

/* Width at 768px and below */
@media screen and (max-width: 768px) {
}

/* Width at 640px and below */
@media screen and (max-width: 640px) {
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
}

/* Width at 168px and below */
@media screen and (max-width: 168px) {
}


